[data-ms-popover] {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 9998;
    isolation: isolate;
    animation: ms-popover-fade-in 0.3s ease;

    cursor: pointer;
    
    /* Prevent touch scrolling on elements underneath */
    touch-action: none;
    overscroll-behavior: contain;

    &[data-closing="true"] {
        animation: ms-popover-fade-out 0.4s ease;
    }
}

@keyframes ms-popover-fade-in {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}

@keyframes ms-popover-fade-out {
    from {
        opacity: 1;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}
