[data-ms-holdoverlay] {
    cursor: grabbing;
}

[data-ms-holdmenu] {
    position: fixed;
    transform: translate(-50%, 0);
    z-index: 10000;
    pointer-events: auto;

    overflow: hidden;

    width: 180px;

    opacity: 0;
    transition: opacity 0.2s ease;

    z-index: 9999;
    will-change: transform;
}

[data-ms-holdmenu][data-open="true"] {
    opacity: 1;
}

[data-ms-holdmenu][data-animation="closing"] {
    opacity: 0;
}

[data-ms-holdmenu][data-bounce="true"],
[data-ms-holdable][data-state="active"][data-bounce="true"] {
    transition: transform 0.2s ease-in-out !important;
}

[data-ms-holdmenu-item] {
    width: 100%;
    padding: 10px 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    appearance: none;
    background: none;
    border: none;

    text-align: left;

    cursor: pointer;

    & [role="img"] {
        display: inline-flex;
        flex: 0;
        order: 2;
        width: 18px;
        height: 18px;
        align-items: center;
        justify-content: center;
    }

    & span {
        order: 1;
        flex: 1;
    }
}

[data-ms-holdable] {
    &[aria-hidden="true"] {
        position: fixed;
        pointer-events: none;
        z-index: 9999;
        isolation: isolate;
        will-change: transform;
        transform-origin: center;
        transition: none !important;
    }

    &[data-state="idle"] {
        transition: background-color 0.15s ease, color 0.15s ease,
            filter 0.15s ease;
    }
    &[data-state="pressing"] {
        cursor: pointer;

        z-index: 9999;

        filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.18))
            drop-shadow(0 12px 28px rgba(0, 0, 0, 0.25));
        transition: background-color 0.15s ease, color 0.15s ease;
        animation: ms-holdable-press-shadow-in 0.25s ease forwards;
    }
    &[data-state="active"] {
        cursor: grabbing;

        transition: none !important;

        pointer-events: none;
        z-index: 9999;
        will-change: opacity, filter, transform;
        transform-origin: center;
        opacity: 1; /* ensure instantly visible above blur */

        animation: ms-holdable-float-up 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
        filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
    }
}

@keyframes ms-holdable-float-up {
    0% {
        opacity: 1;
        filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.18))
            drop-shadow(0 12px 28px rgba(0, 0, 0, 0.25));
    }
    100% {
        opacity: 1;
        filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
    }
}

@keyframes ms-holdable-press-shadow-in {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.18))
            drop-shadow(0 12px 28px rgba(0, 0, 0, 0.25));
    }
}
